<div class="cases">
  <p class="imagem">
    <%= link_to image_tag("pmpl.png"), "images/pmpl_large.png", :rel => "image"  %>
  </p>
  <p class="texto">
    <ul>
      <li>PMPL (Plano de Manutenção Preventiva de Lubrificação)</li>
      <li></li>
      <li>Controle</li>
      <li>Controle</li>
  </p>
</div>