<div class="empresa">
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td class="linha1 title">Agencia</td>
    </tr>
    <tr>
      <td class="linha2">
        A Dooit é uma empresa de soluções de tecnologia que busca melhorar o desempenho e a lucratividade, detectando as necessidades de cada empresa e apresentando soluções, para construir junto ao cliente uma idéia de sucesso. <br><br>
        A Dooit trabalha com o comprometimento ao cliente, utilizando uma metodologia para que possa ser entregue projetos, visando o tempo, custo e qualidade.
      </td>
    </tr>
  </table>
  
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td class="linha1 title">Serviços</td>
    </tr>
    <tr>
      <td class="linha2">
        <ul>
          <li>
            Desenvolvimento de Web sites.
          </li>
          <li>
            Consultoria e desenvolvimento de software coorporativo.
          </li>
          <li>
            Criação de aplicativos móbile.
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>